apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: family-gifting
  labels:
    app: api
    component: backend
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8000
    targetPort: 8000
    protocol: TCP
  selector:
    app: api
    component: backend
